# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8663120724:AAHLqk1JWBrD_28CO0lVeLG7BEwytuVQAuI
# Admin Configuration (The chat ID where deposit/withdrawal approval requests are sent)
ADMIN_CHAT_ID=5816947322
# Database Configuration
DB_PATH=bot.db

# Admin KHQR Path
ADMIN_KHQR_PATH=adminkhqr.png
